
{%- if site.location -%}
    {%- if site.work_url -%}
        <i class="fas fa-fw fa-map-marker-alt"></i><a href="{{ site.work_url }}"> {{ site.location}}</a><br>
    {% else %}
        <i class="fas fa-fw fa-map-marker-alt" ></i> {{ site.location}}<br>
    {% endif %}

{% endif %}

{%- if site.email -%}
    <i class="fas fa-fw fa-envelope"></i><a href="mailto:{{ site.email | encode_email }}" title="email"> {{site.email}}</a><br>
{% endif %}

{%- if site.github_username -%}
    <i class="fab fa-fw fa-github"></i><a href="https://github.com/{{ site.github_username }}" title="GitHub"> GitHub</a><br>
{% endif %}

{%- if site.orcid_id -%}
    <i class="ai ai-fw ai-orcid"></i> <a href="https://orcid.org/{{ site.orcid_id }}"> ORCID</a><br>
{% endif %}

{%- if site.scholar_userid -%}
    <i class="fas fa-fw fa-graduation-cap"></i><a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"> Google Scholar</a><br>
{% endif %}

{%- if site.publons_id -%}
    <i class="ai ai-fw ai-publons"></i><a href="https://publons.com/a/{{ site.publons_id }}/" title="Publons"> Publons</a><br>
{% endif %}

{%- if site.research_gate_profile -%}
    <i class="ai ai-fw ai-researchgate"></i><a href="https://www.researchgate.net/profile/{{site.research_gate_profile}}/" title="ResearchGate"> Researchgate</a><br>
{% endif %}

{%- if site.linkedin_username -%}
    <i class="fab fa-fw fa-linkedin"></i><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"> LinkedIn</a><br>
{% endif %}

{%- if site.twitter_username -%}
    <i class="fab fa-fw fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter"> Twitter</a><br>
{% endif %}

{%- if site.gitlab_username -%}
<a href="https://gitlab.com/{{ site.gitlab_username }}" title="GitLab"><i class="fab fa-gitlab"></i></a>
{% endif %}

{%- if site.stackoverflow_id -%}
<a href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}" title="Stackoverflow"><i class="fab fa-stack-overflow"></i></a>
{% endif %}

{%- if site.rss_icon -%}
<a href="{{ site.baseurl | prepend: site.url }}/feed.xml" title="RSS Feed"><i class="fas fa-rss-square"></i></a>
{% endif %}
