---
layout: default
---

<!-- about.html -->
  <div class="post">


    <article>
      {% if page.profile -%}
      <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}" margin: 100px;>
        {%- if page.profile.image %}
          {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
          {% include figure.html
          path=profile_image_path
          class="img-fluid z-dept-1 rounded"
          alt=page.profile.image -%}
        {% endif -%}
        <header class="post-header">
          <h2 class="post-title">
           <b>{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}</b>
          </h2>
          <p class="desc">{{ site.description }}</p>
        </header>
        {% include social.html %}
        {%- if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
        {%- endif %}
      </div>
      {%- endif %}

      <div class="clearfix">
        {{ content }}

        {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
        {%- endif %}
        {% if page.selected_papers -%}
          <!-- Selected papers -->
          {%- include selected_papers.html %}
        {%- endif %}
        {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>

          </div>`
      </div>
      {%- endif %}
    </article>

</div>
